@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add Student";
}

@model expertsession.Models.AddStudentModel;

<div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Add Student</h3>
    <a class="btn btn-primary" asp-controller="Student" asp-action="Index">View</a>
</div>
@if (TempData["msg"] != null)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        @TempData["msg"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<form method="post" class="row g-3">
    <div class="col-md-6">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter your name" asp-for="name">
    </div>
    <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter your email" asp-for="email">
    </div>
    <div class="col-md-4">
        <label for="age" class="form-label">Age</label>
        <input type="number" class="form-control" id="age" placeholder="Enter your age" asp-for="age">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>